<!DOCTYPE html>
<html>
    <head>
        <title>褒めるくん</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
    </head>

    <body onLoad="foo();">
        <header id="header">
            <div class="resizeimage">
                <img src="/static/images/neko.jpg">
            </div>
        </header>
        
        <div id="side">
            <div class="yohaku">
                <h1>時間</h1>
                <h2>最後のログイン</h2>
                <div id = "data">読み込み中</div>
                <br>
                <h2>最後のログアウト</h2>
                <div id= "data2">読み込み中</div>
                <br>
                <input type="button" value="リロード" onclick="foo();">
                <input type="button" value="ほめて！" onclick="slack();">
                <br>
            </div>
        </div>

        <main id="main">
            <div class="yohaku">
                <h1>これまでのがんばり</h1>
                <h2>1週間の記録</h2>
                <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=aTBqZDhlaDYzdjJiMTBzcXF0Y20xc21yM3NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23F09300&amp;color=%230B8043&amp;showTitle=0&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showNav=1&amp;mode=WEEK" style="border:solid 1px #777" width="500" height="500" frameborder="0" scrolling="no"></iframe>
                <br>
                <h2>1カ月の記録</h2>
                <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=aTBqZDhlaDYzdjJiMTBzcXF0Y20xc21yM3NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23F09300&amp;color=%230B8043&amp;showTitle=0&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showNav=1" style="border:solid 1px #777" width="500" height="500" frameborder="0" scrolling="no"></iframe>
            </div>
        </main>

        <footer id="footer">

        </footer>
    </body>
</html>